@font-face {
  font-family: "Gotham";

  src: url("../fonts/Gotham-Bold.otf");

  font-weight: bold;

  font-style: normal;
}
@font-face {
	font-family: "Gotham";
 
	src: url("../fonts/GothamBook.ttf");
 
	font-weight: normal;
 
	font-style: normal;
 }
 @font-face {
	font-family: "Gotham";
 
	src: url("../fonts/GothamMedium.ttf");
 
	font-weight: 500;
 
	font-style: normal;
 }

 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
//  font-family: 'Open Sans', sans-serif;